* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #d9d9d9;
    height: 100vh;
    width: 100vw;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;

    border-bottom: 2px solid #d9d9d9;
}

header h1 {
    font-family: 'Orbitron', sans-serif;
}

p,
label {
    font-family: 'Roboto', sans-serif;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    align-items: center;

    border-top: 2px solid #d9d9d9;
}

main {
    height: calc(100vh - 82px - 61px);
    display: flex;
    justify-content: center;
    align-items: center;
}