@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #d9d9d9;
    height: 100vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#login {
    background-color: #d9d9d9;
    color: #121212;

    padding: 10px 20px;
    border-radius: 8px;
}

#login {
    background-color: #d9d9d9;
    color: #121212;

    padding: 10px 20px;
    border-radius: 8px;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;

    border-bottom: 2px solid #d9d9d9;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

header a {
    text-decoration: none;
    color: #d9d9d9;
}

header ul {
    display: flex;
    gap: 20px;

    list-style: none;
}


p,
label {
    font-family: 'Roboto', sans-serif;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    align-items: center;

    border-top: 2px solid #d9d9d9;
}

main {
    height: calc(100vh - 82px - 61px);
    display: flex;
    justify-content: center;
    align-items: center;
}